@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-p {
    background-color: #9333EA;
}

.btn-s {
    background-color: #9233ea4a;
}

.text-p {
    color: #9333EA;
}

.text-s {
    color: #48008b;
}

.bg-s {
    background-color: #9233eaee;
}

.bg-3 {
    background-color: #a54cf8;
}